/*Logo*/
@font-face {
	font-family: 'Conv_Zdyk Pisces';
	src: url('../fonts/logo/Zdyk Pisces.eot');
	src: local('☺'), url('../fonts/logo/Zdyk Pisces.woff') format('woff'), url('../fonts/logo/Zdyk Pisces.ttf') format('truetype'), url('../fonts/logo/Zdyk Pisces.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}