/*Logo*/
@font-face {
	font-family: 'Conv_Zdyk Pisces';
	src: url('../fonts/logo/Zdyk Pisces.eot');
	src: local('☺'), url('../fonts/logo/Zdyk Pisces.woff') format('woff'), url('../fonts/logo/Zdyk Pisces.ttf') format('truetype'), url('../fonts/logo/Zdyk Pisces.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
main{height: 100%; background-color: rgba(0,0,0,.9);}
h1{
	font-family: 'Conv_Zdyk Pisces';
	font-size: 5em;
	color: #81d8db;
	text-shadow: 2px 2px 30px #000000;
}